*{
    font-family: 'Manrope', sans-serif;
    
}

.header{
    background: #beef00;
    display:inline-block;
    line-height: 10px;
    width: 1100px;
    margin-left:77px;
    position: fixed;
    
}

.container{
    max-width: 1000px;
    margin: 0 auto;
}


.nav ul li{
    display: inline-block;


}

.nav ul li a{
    padding: 10px 30px;
    font-family: 'Baloo Bhaina 2', cursive;
    text-decoration: none;
    color: #999999;    
}

/*.nav ul li:hover a{
    color: #3e99ff;
    font-size: 20px;
    
    
    font-size: 1.2em;
    
}*/

.ns:hover a{
    color: #3e99ff;
    font-size: 20px;
    border-width: 8px;
    font-size: 1.2em;
    border-radius: 20px;
    visibility: inherit;
}

.nav{
    float: right;
}
 
.logo{
    float: left;
}

.header::after{
    content: " ";
    clear: both;
    display: block;
    visibility: none;
}

body{
    background: #eeeeee;
}

.p{
    margin-bottom: 20px 
}

.article{
    background-color: #fff;
    padding:10px 30px;
    margin-top: 10px;
}

.p ul li a{
    text-decoration: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.special {
    font-size: 15px;
    font-weight: bold;
   background-color : #fcba03;
   border-radius: 17px;
   
}
.feedback-form{
    text-align: center;
}

footer{
    text-align: center;
    background-color: #beef00;
    margin-top: 20px;
    width:1100px;
    margin-left: 77px;
    line-height: 40px;

}

form input text{
    width:100%;
}
.formhead{
    text-align: center;
    text-emphasis: bold;
    margin:30px;
    font-family: fantasy;
    font-size: 40px;
    color: maroon;
}

input[type="text"]{
    height: 25px;
    width:50%;
    
}

input[type="submit"]{
    background: #3e99ff;
    border: 1px solid black;
    color: white;
    padding:10px 20px;
    border-radius: 14px;
}

.fotofb{
    background-image: linear-gradient(to right,white,#36d1dc , #5b86e5);
    width: 250px;
    height: 160px;
    
    text-align: center;
    border-radius: 20px;
    display: inline-block;
    margin:10px;
    margin-right: 100px;
    margin-left: 107px;
    margin-bottom: 20px;
}
.fototw{
        background-image: linear-gradient(to left,white,#36d1dc , #5b86e5);
        width: 270px;
        height: 160px;
        
        text-align: center;
        border-radius: 20px;
        display: inline-block;
        margin:10px ;
        margin-left: 100px;    
    }
    
.foto1{
       background-image: linear-gradient(to right,#eacda3,white, #d6ae7b);
        width: 150px;
        height: 96px;
        
        text-align: center;
        border-radius: 20px;
        display: inline-block;
        margin:20px 77px;
        margin-bottom: ;
    }

.foto2{
            background-image: linear-gradient(to right,#ff9966,white,#ff5e62);
             width: 150px;
             height: 96px;
             
             text-align: center;
             border-radius: 20px;
             display: inline-block;
             margin:10px 77px;   
    
}
.pro{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    padding-bottom: 0px;
    margin-top: 10px;  
}

.toplogofb{
    width:100px;
    height: 40px;
    border-radius: 17px;
}

.toplogotw{
    width:100px;
    height: 40px;
    border-radius: 17px;
}

.progitcfli{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding-bottom: 0px;
    margin-top: 10px;  
}

.farticle{
    background-color: rgba(2,210,176,0.5);
    
}

.center{
    text-align: center;
    font-weight: 1300;
    font-size: 40px;
}

.tdnone{
    text-decoration: none;
    color:red;
}

.cimage{
    width:900px;
    height:400px;
    margin-top: 100px;
     
}

.div2{
    width: 300px;
    right: 150px;
    top: 600px;
    position: absolute;
    border-radius:20px;
}

.div1{
    width:550px;
    
}

.indexart{
    height:900px;
}

.ralph{
    text-align: center;
    color: brown    ;
    font-size: 1.2em;
}

